section.security
    .l-default 
        .logo-start
            .logo(data-sticky-container data-scroll-sticky data-scroll-target="#logoEnd")
                +svgColor('logo')
        .security__info
            <svg class="glow-info" width="510" height="487" viewBox="0 0 510 487" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_0_107)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M164.678 171.865C251.973 117.15 357.922 160.8 371.893 204.058C385.864 247.315 296.079 292.009 179.517 341.729C62.9547 391.45 77.3826 226.579 164.678 171.865Z" fill="#8000FF" fill-opacity="0.559647"/>
                </g>
                <g filter="url(#filter1_f_0_107)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M177.146 121.767C240.883 92.355 309.692 174.358 315.852 225.277C322.011 276.197 257.355 294.062 174.061 308.377C90.7675 322.692 113.408 151.179 177.146 121.767Z" fill="#8080FF" fill-opacity="0.347369"/>
                </g>
                <g filter="url(#filter2_f_0_107)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M188.715 158.366C217.234 155.813 249.266 185.848 252.611 201.099C255.956 216.351 226.896 215.49 189.364 211.873C151.832 208.256 160.197 160.919 188.715 158.366Z" fill="#00FFFF"/>
                </g>
                <defs>
                <filter id="filter0_f_0_107" x="-40.2634" y="10.3664" width="549.506" height="476.503" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="67.957" result="effect1_foregroundBlur_0_107"/>
                </filter>
                <filter id="filter1_f_0_107" x="33.0649" y="28.5808" width="370.178" height="367.628" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="43.4925" result="effect1_foregroundBlur_0_107"/>
                </filter>
                <filter id="filter2_f_0_107" x="77.2019" y="71.228" width="262.657" height="229.842" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="43.4925" result="effect1_foregroundBlur_0_107"/>
                </filter>
                </defs>
            </svg>
            h2.security__title.title.title--h2.element-animation Многоуровневая защита твоих криптоактивов
            .security__subtitle.element-animation Cluster не имеет доступа и не хранит твои приватные данные. Cluster обеспечивает тебе максимальную безасноть при доступе в блокчейн. 
    .l-default.items
        .security__items-wrapper 
            .security__items
                .security__item.element-animation
                    .security__item-icon
                        img(src="img/svg/security/security-1.svg", alt="")
                    .security__item-text Поддержка Ledger
                .security__item.element-animation
                    .security__item-icon
                        img(src="img/svg/security/security-2.svg", alt="")
                    .security__item-text Защита биометрией
                .security__item.element-animation
                    .security__item-icon
                        img(src="img/svg/security/security-3.svg", alt="")
                    .security__item-text Двухфакторная аутентификация
    .security__img.img
        +webp(['security/security'], 'png')
    <svg class="parallax" width="1440" height="1639" viewBox="0 0 1440 1639" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_f_8_1322)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M115.323 690.966C95.3779 245.394 632.797 142.247 895.038 277.774C1157.28 413.3 1118.69 825.527 1026.23 1327.68C933.772 1829.84 135.269 1136.54 115.323 690.966Z" fill="#0000FF" fill-opacity="0.196528"/>
        </g>
        <g filter="url(#filter1_f_8_1322)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M498.893 915.837C329.538 927.462 150.585 777.073 136.05 701.189C121.514 625.305 292.901 630.659 513.397 650.018C733.892 669.377 668.249 904.211 498.893 915.837Z" fill="#FF00FF" fill-opacity="0.588341"/>
        </g>
        <defs>
        <filter id="filter0_f_8_1322" x="-21.131" y="86.3205" width="1253.03" height="1552.32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="67.957" result="effect1_foregroundBlur_8_1322"/>
        </filter>
        <filter id="filter1_f_8_1322" x="-0.724945" y="501.772" width="790.499" height="550.616" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="67.957" result="effect1_foregroundBlur_8_1322"/>
        </filter>
        </defs>
    </svg>

