header.header
    .l-header 
        .header__wrapper 
            .header__burger 
                span 
                span 
            .header__logo
                +svgColor('logo')
            .header__menu
                a.header__menu-item(href="") Безопасность
                a.header__menu-item(href="") Блог
                a.header__menu-item(href="") Поддержка
            a.header__btn.btn.btn--default(href="") Войти
        .header__mobile