.ico-mono-discord {
  width: 1em;
  height: 1em;
  fill: #8080FF;
}
.ico-mono-fb {
  width: 1.02em;
  height: 1em;
  fill: #6F4F7D;
}
.ico-mono-footer-logo {
  width: 4.27em;
  height: 1em;
  fill: #fff;
}
.ico-mono-github {
  width: 1.05em;
  height: 1em;
  fill: #6F4F7D;
}
.ico-mono-telegram {
  width: 1.02em;
  height: 1em;
  fill: #6F4F7D;
}
.ico-mono-twitter {
  width: 1em;
  height: 1em;
  fill: #6F4F7D;
}
