.possibilities {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 169px 0;
    @media screen and (max-width: 1199px) {
        padding: 50px 0;
        overflow-y: visible;
    }
    @media screen and (max-width: 600px) {
        padding: 50px 0 0;
        margin: 50px 0 0;
    }
    &__img {
        position: absolute;
        top: 30%;
        transform: translateY(-30%);
        right: -200px;
        z-index: 2;
        width: 1100px;

        @media screen and (max-width: 1599px) {
            right: -400px;
        }

        @media screen and (max-width: 1399px) {
            right: -600px;
        }   

        @media screen and (max-width: 1199px) {
            width: 510px;
            right: -200px;
            transform: translateY(0);
        }

        @media screen and (max-width: 699px) {
            right: -300px;
        }
        @media screen and (max-width: 600px) {
            order: 1;
            position: static;
            top: 0;
            left: 0;
            right: 0;
            width: 738px;
            margin-left: auto;
            margin-top: 20px;
            transform: translateX(20px);
        }
    }

    &__info {
        @media screen and (max-width: 1399px) {
            max-width: 500px;
            margin-top: 20px;
        }   

        @media screen and (max-width: 1199px) {
            max-width: 400px;
            margin-left: 0;
        }  
    }

    &__title {
        @include tr('all');
        max-width: 684px;
        margin-bottom: 33px;
    }

    &__subtitle {
        @include tr('all');
        max-width: 700px;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 128px;

        @media screen and (max-width: 1399px) {
            max-width: 600px;
            font-size: 22px;
            line-height: 28px;
        }

        @media screen and (max-width: 1199px) {
            max-width: 400px;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 30px;
        }

        @media screen and (max-width: 600px) {
            max-width: 100%;
        }

        @media screen and (max-width: 379px) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__items {
        display: flex;
        align-items: flex-start;
        max-width: 1045px;
        margin: 0 -10px;
        margin-left: 150px;
        @media screen and (max-width: 1599px) {
            margin-left: 120px;
        }
        @media screen and (max-width: 1199px) {
            flex-wrap: wrap;
            margin: 0 -10px;
            margin-top: 30px;
            margin-left: 0;
        }   
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
        &-wrapper {
            @media screen and (max-width: 600px) {
                order: 9;
                margin-top: 30px;
            }   
        }
    }

    .glow-info {
        position: absolute;
        left: -300px;
        z-index: -1;
    }

    &__item {
        width: calc(50% - 20px);
        margin: 0 10px;
        @media screen and (max-width: 1199px) {
            width: calc(50% - 20px);
            margin: 0 10px 20px;
        }

        &-icon {
            display: block;
            width: auto;
            height: 70px;
            margin-bottom: 10px;
        }

        &-text {
            max-width: 100px;
            font-size: 22px;
            line-height: 30px;
            font-weight: 600;
            @media screen and (max-width: 600px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    &__info {
        position: relative;
        margin-left: 150px;

        @media screen and (max-width: 1599px) {
            margin-left: 120px;
        }
    }
    .parallax {
        position: absolute;
        top: 30%;
        right: 100px;
        transform: translateY(-30%);

        @media screen and (max-width: 1199px) {
            top: 300px;
            right: -400px;
            width: 700px;
        }

        @media screen and (max-width: 600px) {
            top: 400px;
            right: -150px;
            width: 700px;
        }
    }

    .items {
        order: 9;
    }
}