section.main-top
    .l-default 
        .main-top__info
            .main-top__logo.element-animation
                +svgColor('logo-main')
            h1.main-top__title.title.title--h1.element-animation Расширяемый некастодиальный блокчейн <br>кошелёк
            .main-top__subtitle.element-animation Покупай, сохраняй, преумножай, переводи свои криптоактивы так как тебе удобно без посредников и контролеров.
    .l-default.enter
        .main-top__bottom
            a.main-top__btn.btn.btn--default.element-animation(href="") войти
            .main-top__text.element-animation Приложение доступно на Android, iOS, Web
    .main-top__img.img
        +webp(['main-top/main'], 'png', '')
    <svg class="parallax" width="1094" height="1483" viewBox="0 0 1094 1483" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_f_0_204)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M711.588 320.329C937.774 97.5671 1248.29 332.709 1301.5 535.969C1354.71 739.229 1118.28 915.149 808.634 1105.4C498.982 1295.66 485.402 543.092 711.588 320.329Z" fill="#0000FF" fill-opacity="0.196528"/>
        </g>
        <g filter="url(#filter1_f_0_204)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1001.18 451.457C1094.97 738.009 824.315 1006.28 657.608 1014.56C490.901 1022.84 434.892 736.48 391.182 370.718C347.472 4.95594 907.38 164.904 1001.18 451.457Z" fill="#8000FF" fill-opacity="0.203595"/>
        </g>
        <g filter="url(#filter2_f_0_204)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M700.222 787.283C638.292 720.181 681.702 538.394 727.831 480.23C773.96 422.066 825.179 501.642 882.729 612.519C940.279 723.396 762.153 854.385 700.222 787.283Z" fill="#FF00FF" fill-opacity="0.588341"/>
        </g>
        <g filter="url(#filter3_f_0_204)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M800.223 687.283C738.292 620.181 781.702 438.394 827.831 380.23C873.96 322.066 925.179 401.641 982.729 512.518C1040.28 623.396 862.153 754.385 800.223 687.283Z" fill="#00FFFF" fill-opacity="0.699026"/>
        </g>
        <defs>
        <filter id="filter0_f_0_204" x="421.109" y="94.1897" width="1023.81" height="1177.65" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="67.957" result="effect1_foregroundBlur_0_204"/>
        </filter>
        <filter id="filter1_f_0_204" x="269.15" y="38.8287" width="870.881" height="1095.51" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="59.8022" result="effect1_foregroundBlur_0_204"/>
        </filter>
        <filter id="filter2_f_0_204" x="533.588" y="324.746" width="496.343" height="616.743" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="67.957" result="effect1_foregroundBlur_0_204"/>
        </filter>
        <filter id="filter3_f_0_204" x="633.588" y="224.746" width="496.343" height="616.743" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="67.957" result="effect1_foregroundBlur_0_204"/>
        </filter>
        </defs>
    </svg>

