.main-top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 193px 0 264px;

    @media screen and (max-width: 1199px) {
        padding: 180px 0;
    }

    @media screen and (max-width: 991px) {
        padding: 140px 0;
    }
    @media screen and (max-width: 600px) {
        padding: 25px 0 0;
    }
    &__logo {
        font-size: 49px;
        line-height: 1;
        margin-bottom: 25px;

        @media screen and (max-width: 1199px) {
            font-size: 35px;
            margin-bottom: 20px;
        }

        @media screen and (max-width: 600px) {
            font-size: 36px;
            margin-bottom: 33px;
        }
    }

    &__title {
        @include tr('all');
        display: block;
        max-width: 800px;
        background: linear-gradient(159deg, rgba(0,255,255,1) 0%, rgba(142,0,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 25px;

        @media screen and (max-width: 1399px) {
            max-width: 600px;
        }

        @media screen and (max-width: 767px) {
            max-width: 400px;
        }

        @media screen and (max-width: 600px) {
            max-width: 100%;
        }
    }

    &__subtitle {
        @include tr('all');
        max-width: 700px;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 77px;

        @media screen and (max-width: 1399px) {
            max-width: 600px;
            font-size: 22px;
            line-height: 28px;
        }

        @media screen and (max-width: 1199px) {
            max-width: 400px;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 30px;
        }

        @media screen and (max-width: 600px) {
            max-width: 100%;
        }

        @media screen and (max-width: 379px) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__btn {
        margin-right: 24px;
        @media screen and (max-width: 600px) {
            min-width: 215px;
            margin-bottom: 8px;
            margin-right: 0;
        }
    }
    
    &__bottom {
        display: flex;
        align-items: center;
        @media screen and (max-width: 600px) {
            order: 9;
            flex-direction: column;
            align-items: center;
            margin-top: -140px;
        }
    }

    &__text {
        max-width: 180px;
        font-family: $secondary_font;
        font-size: 16px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.555831);
        @media screen and (max-width: 600px) {
            text-align: center;
        }
    }

    .l-default {
        order: 1;

        &.enter {
            order: 9;
        }
    }

    &__info {
        @media screen and (max-width: 600px) {
            order: 1;
        }
    }

    &__img  {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-32%);

        @media screen and (max-width: 1599px) {
            max-width: 667px;
            transform: translateY(-35%);
        }

        @media screen and (max-width: 1399px) {
            max-width: 450px;
        }

        @media screen and (max-width: 1199px) {
            max-width: 360px;
            right: -100px;
        }

        @media screen and (max-width: 600px) {
            order: 8;
            position: static;
            top: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-top: 20px;
            transform: translateX(40px);
        }

        img {
            transition: all .4s ease;
        }
    }

    .parallax {
        position: absolute;
        bottom: -300px;
        right: 0;
        z-index: -1;

        @media screen and (max-width: 1199px) {
            bottom: -500px;
            right: -100px;
        }
    }
}