@font-face {
    font-family: "SFUIText";
    src: url("../fonts/SFUIText/SFUIText-Light.woff2") format("woff2"),
      url("../fonts/SFUIText/SFUIText-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ArtegraSansEx";
    src: url("../fonts/Artegra/artegrasansexregular.woff2") format("woff2"),
      url("../fonts/Artegra/artegrasansexregular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "ArtegraSansEx";
  src: url("../fonts/Artegra/artegrasansexlight.woff2") format("woff2"),
    url("../fonts/Artegra/artegrasansexlight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "ArtegraSansEx";
    src: url("../fonts/Artegra/artegrasansexbold.woff2") format("woff2"),
      url("../fonts/Artegra/artegrasansexbold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ArtegraSansEx";
    src: url("../fonts/Artegra/artegrasansexmedium.woff2") format("woff2"),
      url("../fonts/Artegra/artegrasansexmedium.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ArtegraSansEx";
    src: url("../fonts/Artegra/artegrasansexextrabold.woff2") format("woff2"),
      url("../fonts/Artegra/artegrasansexextrabold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}